header {
    margin: 0;

    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: #004175;
    border-bottom: 5px solid #89DEEF;
}

.title {
    margin-left: 50px;
    font-size: larger;
    padding: 0;
    font-style: bold;
}

#adopt {
    font: 50px bold;
}

body {
    margin: 0;
    color: black;
}

main {
    margin-left: 50px;
    align-items: center;

}

h2 {
    font: 50px bold;
    padding-bottom: 0px;
}

h3 {
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;

}

h4 {
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border: 5px solid #89DEEF;
    border-radius: 15px;
    background-color: #89DEEF;
    flex-wrap: wrap;
    padding-top: 0px;
    margin: 5px;

}


.dog-box {
    padding: 20px;
    max-width: 400px;
}

.dog-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

img {
    max-width: 400px;
    padding-bottom: 0px;
}


footer {
    flex-direction: row;
    display: flex;
    flex: 1 1 auto;
}

.footer {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    background-size: contain;
}

.bottom {
    display: inline;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 100%;
    box-sizing: border-box;
    background-size: cover;
    line-height: 450px;
    background-repeat: no-repeat;
}

.box {
    background-color: rgba(143, 160, 243, 0.846);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-style: bold;
    font-size: xx-large;
    margin: 0;
}

.bottom-one {
    background-image: url(/starter_files/images/donate.jpg);
}

.bottom-two {
    background-image: url(/starter_files/images/volunteer.jpg);
}

.bottom-three {
    background-image: url(/starter_files/images/location.png);
}